<%- include('../layouts/header') %>

    <%- include('../layouts/adminHeader') %>

        <style>
            body {
                background-color: #fbdfdc;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        </style>

        <div class="mt-5 text-center container">
            <div>

                <!-- ADD PRODUCT -->
                <h3 class="my-4 py-2">ADD PRODUCT</h3>

                <div class="row">

                    <!-- Manage Category Box -->
                    <div class="col-md-4 row g-3 text-start">
                        <div class="col-md-9 text-center bg-light pt-5 mb-4" style="border-radius: 2em;">
                            <h5 class="pb-2">Manage Category</h5>
                            <!-- Category alert -->
                            <% if (locals.category_alert){ %>
                                <div class="alert alert-warning text-center mt-2">
                                    <%=locals.category_alert%>
                                </div>
                                <% } %>

                                    <!-- show available categories -->
                                    <select id="category" class="form-select mb-4" onchange=categoryFill()>
                                        <option value="" disabled>All Categories</option>
                                        <% if (locals.categories){ categories.forEach((name)=>{ %>

                                            <option value="<%=name.category_name%>">
                                                <%=name.category_name%>
                                            </option>

                                            <% }) } %>
                                    </select>

                                    <!-- add categories form -->
                                    <form action="/admin/addCategory" method="post">
                                        <input type="text" class="form-control mb-2" name="category_name"
                                            id="addCategory" onchange=categoryUpdate() placeholder="Enter the category"
                                            required />
                                        <div class=" d-flex m-2">
                                            <button type="submit" class="btn btn-outline-primary  mt-2 px-2"><span
                                                    class="material-symbols-outlined">
                                                    box_add
                                                </span>ADD</button>
                                    </form>

                                    <!-- EDIT categories form -->
                                    <form action="/admin/editCategory" method="post">
                                        <input type="text" class="form-control mb-2" id="originalCategory"
                                            name="originalCategory" hidden />
                                        <input type="text" class="form-control mb-2" id="editCategory"
                                            name="category_name" required hidden />
                                        <button type="submit" class="btn btn-outline-success  mt-2 px-2"><span
                                                class="material-symbols-outlined">
                                                edit
                                            </span>EDIT</button>
                                    </form>

                                    <!-- Delete categories form -->
                                    <form action="/admin/deleteCategory" method="post">
                                        <input type="text" class="form-control mb-2" id="deleteCategory"
                                            name="category_name" required hidden />
                                        <button type="submit" class="btn btn-outline-danger  mt-2 px-2"><span
                                                class="material-symbols-outlined">
                                                delete
                                            </span>DELETE</button>
                                    </form>

                        </div>



                        <!-- Sub Category  -->
                        <div class="col-md-12 text-center bg-light py-5 mb-4" style="border-radius: 2em;">
                            <h5 class="pb-2">Manage Sub Category</h5>

                            <!-- Sub Category alert -->
                            <% if (locals.subCategory_alert){ %>
                                <div class="alert alert-warning text-center mt-2">
                                    <%=locals.subCategory_alert%>
                                </div>
                                <% } %>
                                    <!-- show available root categories -->
                                    <label class="pb-1">Select Category</label>
                                    <select id="rootCategory" class="form-select mb-4" onchange=rootCategoryFill()>
                                        <option disabled>Main categories</option>
                                        <% if (locals.categories){categories.forEach((name)=>{ %>

                                            <option value="<%=name._id%>">
                                                <%=name.category_name%>
                                            </option>

                                            <% }) } %>
                                    </select>

                                    <!-- show available sub categories -->
                                    <label class="pb-1">Select Sub Category</label>
                                    <select id="subCategory" class="form-select mb-4" onchange=SubCategoryFill()>
                                        <option disabled>Available Sub Categories</option>
                                        <% if (locals.subCategories){ subCategories.forEach((name)=>{ %>

                                            <option value="<%=name.subCategoryName%>">
                                                <%=name.subCategoryName%>
                                            </option>

                                            <% }) } %>
                                    </select>

                                    <!-- add Sub Categories form -->
                                    <form action="/admin/addSubCategory" method="post">
                                        <input type="text" class="form-control mb-2" name="rootCategoryId"
                                            id="rootCategoryId1"
                                            value="<%= locals.categories.length ? locals.categories[0]._id : '' %>"
                                            hidden required />

                                        <input type="text" class="form-control mb-2"
                                            placeholder="Enter the sub category" onchange=SubCategoryUpdate()
                                            name="subCategoryName" id="field" required />

                                        <div class=" d-flex m-2">
                                            <button type="submit" class="btn btn-outline-primary  mt-2 px-2"><span
                                                    class="material-symbols-outlined">
                                                    box_add
                                                </span>ADD</button>
                                    </form>
                                    <!-- EDIT Sub categories form -->
                                    <form action="/admin/editSubCategory" method="post">
                                        <input type="text" class="form-control mb-2" name="rootCategoryId"
                                            id="rootCategoryId2"
                                            value="<%= locals.categories.length ? locals.categories[0]._id : '' %>"
                                            hidden required />

                                        <input type="text" class="form-control mb-2 MainCategoryId"
                                            id="originalSubCategory1" name="subCategoryOG_name"
                                            value="<%= locals.subCategories.length ? locals.subCategories[0].subCategoryName : '' %>"
                                            hidden required />

                                        <input type="text" class="form-control mb-2" id="editSubCategory"
                                            name="subCategory_name" hidden required />
                                        <button type="submit" class="btn btn-outline-success  mt-2 px-2"><span
                                                class="material-symbols-outlined">
                                                edit
                                            </span>EDIT</button>
                                    </form>

                                    <!-- Delete Sub categories form -->
                                    <form action="/admin/deleteSubCategory" method="post">

                                        <input type="text" class="form-control mb-2" name="rootCategoryId"
                                            id="rootCategoryId3"
                                            value="<%= locals.categories.length ? locals.categories[0]._id : '' %>"
                                            hidden required />

                                        <input type="text" class="form-control mb-2" id="deleteSubCategory"
                                            name="subCategory_name" hidden required />

                                        <button type="submit" class="btn btn-outline-danger  mt-2 px-2"><span
                                                class="material-symbols-outlined">
                                                delete
                                            </span>DELETE</button>
                                    </form>
                        </div>

                    </div>
                </div>
            </div>

            <!-- ADD product section -->
            <div class="col-md-8 text-start bg-light p-5 mb-4" style="border-radius: 2em;">
                <h5 class="mb-4 pb-2 ">Product Details</h5>
                <form class="row g-3 text-start" action="/admin/addProduct" method="post">
                    <div class="col-12 mb-3">
                        <label for="product_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" name="product_name" placeholder="Enter the product name"
                            required>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Product Description</label>
                        <textarea class="form-control" name="description" id="floatingTextarea2" style="height: 8em"
                            required></textarea>
                        <label for="floatingTextarea2"></label>
                    </div>

                    <div class="col-12 mb-4">
                        <label for="product_image" class="form-label">Product images</label>
                        <input type="file" class="form-control" name="product_image" />
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="category_id" class="form-label">Product Category</label>
                            <select name="category_id" class="form-select" required>
                                <!-- array of categories ids -->
                                <option value="" disabled>Available Categories</option>
                                <% if (locals.categories){ categories.forEach((name)=>{ %>

                                    <option value="<%=name._id%>">
                                        <%=name.category_name%>
                                    </option>

                                    <% }) } %>

                            </select>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="subCategory" class="form-label">Sub Category</label>
                            <select name="subCategory_id" class="form-select" required>
                                <!-- array of sub categories ids -->
                                <option value="" disabled>Available Sub Categories</option>
                                <% if (locals.subCategories){ subCategories.forEach((name)=>{ %>

                                    <option value="<%=name.subCategoryName%>">
                                        <%=name.subCategoryName%>
                                    </option>

                                    <% }) } %>
                            </select>

                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="purchasePrice" class="form-label">Brand</label>
                            <input type="text" class="form-control" name="brand" placeholder="Product brand" required>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-4">
                            <label for="purchasePrice" class="form-label">Purchase price</label>
                            <input type="number" step="0.01" class="form-control" name="purchasePrice" placeholder="Purchase cost"
                                required>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control w-50" name="stock" value="0" required>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="mrp" class="form-label">MRP</label>
                            <input type="number" step="0.01" class="form-control" name="mrp" placeholder="Maximum retail price"
                                required>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="basePrice" class="form-label">Base price</label>
                            <input type="number" step="0.01" class="form-control" id="basePrice" name="basePrice"
                                onchange=calculate() value=0 required>
                        </div>

                        <div class="col-md-2 mb-4">
                            <label for="gst" class="form-label">GST</label>
                            <select name="gst" id="gst" class="form-select" onchange=calculate() required>
                                <option value=0>0%</option>
                                <option value=3>3%</option>
                                <option value=5>5%</option>
                                <option value=12>12%</option>
                                <option value=18>18%</option>
                                <option value=28>28%</option>
                            </select>
                        </div>

                        <div class="col-md-2 mb-4">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="number" step="0.01" id="discount" class="form-control" name="discount" onchange=calculate()
                                value=0>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="sellingPrice" class="form-label">Selling Price</label>
                            <input type="number" step="0.01" class="form-control" id="sellingPrice" name="sellingPrice" value="0"
                                readonly>
                        </div>

                    </div>

                    <!-- <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
              </div>
            </div> -->

                    <div class="col-12 pt-4 text-center">
                        <button type="submit" class="btn btn-danger px-5">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>

        <%- include('../layouts/footer') %>