<%- include('../layouts/header') %>

    <%- include('../layouts/adminHeader') %>

        <style>
            body {
                background-color: #fbdfdc;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        </style>

        <div class="mt-5 text-center container">
            <div>

                <!-- ADD PRODUCT -->
                <h3 class="my-4 py-2">ADD PRODUCT</h3>

                <!-- Category management -->
                <%- include('./manageCategory') %>

            </div>

            <!-- ADD product section -->
            <div class="col-md-8 text-start bg-light p-5 mb-4" style="border-radius: 2em;">
                <h5 class="mb-4 pb-2 ">Product Details</h5>
                <form class="row g-3 text-start" action="/admin/insertProduct" method="post"
                    enctype="multipart/form-data">
                    <div class="col-12 mb-3">
                        <label for="product_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" name="product_name" placeholder="Enter the product name"
                            required>
                    </div>

                    <div class="col-12">
                        <label for="description" class="form-label">Product Description</label>
                        <textarea class="form-control" name="description" id="floatingTextarea2" style="height: 8em"
                            required></textarea>
                        <label for="floatingTextarea2"></label>
                    </div>


                    <div id="imagePreviewContainer"></div>


                    <div class="col-12 mb-4">
                        <label for="product_image" class="form-label">Product Images</label>
                        <input type="file" class="form-control" name="product_image" accept="image/*" multiple id="imageInput">

                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="category_id" class="form-label">Product Category</label>
                            <select name="category_id" class="form-select" required id="catSelection"
                                onclick="loadSubCategory(value)">
                                <!-- array of categories ids -->
                                <option value="" disabled>Available Categories</option>
                                <% if (locals.categories){ categories.forEach((name)=>{ %>

                                    <option value="<%=name._id%>">
                                        <%=name.category_name%>
                                    </option>

                                    <% }) } %>

                            </select>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="subCategory" class="form-label">Sub Category</label>
                            <select name="subCategory_id" class="form-select" id="subCat" required>
                                <!-- array of sub categories ids -->
                                <option value="" disabled>Available Sub Categories</option>

                            </select>

                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="brand" class="form-label">Brand</label>
                            <input type="text" class="form-control" name="brand" placeholder="Product brand" required>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-4">
                            <label for="purchasePrice" class="form-label">Purchase price</label>
                            <input type="number" step="0.01" class="form-control" name="purchasePrice"
                                placeholder="Purchase cost" required>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="stock" class="form-label">Stock</label>
                            <input type="number" class="form-control w-50" name="stock" value="0" required>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="mrp" class="form-label">MRP</label>
                            <input type="number" step="0.01" class="form-control" name="mrp"
                                placeholder="Maximum retail price" required>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="basePrice" class="form-label">Base price</label>
                            <input type="number" step="0.01" class="form-control" id="basePrice" name="basePrice"
                                onchange=calculate() value=0 required>
                        </div>

                        <div class="col-md-2 mb-4">
                            <label for="gst" class="form-label">GST</label>
                            <select name="gst" id="gst" class="form-select" onchange=calculate() required>
                                <option value=0>0%</option>
                                <option value=3>3%</option>
                                <option value=5>5%</option>
                                <option value=12>12%</option>
                                <option value=18>18%</option>
                                <option value=28>28%</option>
                            </select>
                        </div>

                        <div class="col-md-2 mb-4">
                            <label for="discount" class="form-label">Discount</label>
                            <input type="number" step="0.01" id="discount" class="form-control" name="discount"
                                onchange=calculate() value=0>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="sellingPrice" class="form-label">Selling Price</label>
                            <input type="number" step="0.01" class="form-control" id="sellingPrice" name="sellingPrice"
                                value="0" readonly>
                        </div>

                    </div>

                    <div class="col-12 pt-4 text-center">
                        <button type="submit" class="btn btn-danger px-5">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        <%- include('../layouts/footerlinks') %>

            <script>
                // Preview Images
                document.addEventListener('DOMContentLoaded', function () {
                    const imageInput = document.getElementById('imageInput');
                    const imagePreviewContainer = document.getElementById('imagePreviewContainer');

                    imageInput.addEventListener('change', function (event) {
                        imagePreviewContainer.innerHTML = ''; // Clear previous previews

                        const files = event.target.files;
                        for (const file of files) {
                            try {
                                if (file.type == "image/png" || file.type == "image/jpeg" || file.type == "image/jpg"
                                || file.type == "image/webp" || file.type == "image/WebP" || file.type == "image/bmp" ){
                                    const img = document.createElement('img');
                                    img.src = URL.createObjectURL(file);
                                    img.className = 'preview-image';
                                    img.style.maxWidth = '15em';
                                    imagePreviewContainer.appendChild(img);
                                } else {
                                    imagePreviewContainer.innerHTML=""
                                    imageInput.value =""
                                  throw Error ("Only Image files of jpg/jpeg/png/bmp/webp accepted")
                                }
                            } catch (error) {
                                alert(error.message);
                            }
                        }
                    });
                });

            </script>


            <%- include('../layouts/footer') %>