<%- include('../layouts/header') %>
    <!-- Datatable plugin CSS file -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" />

    <!-- jQuery library file -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js">
    </script>

    <!-- Datatable plugin JS library file -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <%- include('../layouts/adminHeader') %>

        <style>
            /* Add your custom styles here */
            .banner {
                background-color: #f8f9fa;
                padding: 20px;
                text-align: center;
            }
        </style>
        </head>

        <!-- Banner management section -->
        <div class="container-fluid" style="background-color: #fbdfdc;">

            <section class="banner bg-transparent">
                <div class="container">
                    <h1>Coupon Management</h1>
                    <p>Manage coupons here.</p>
                    <!-- Add Banner Modal -->
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Add Coupon
                    </button>

                    <!-- Add Coupon Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Add Coupon</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="text-start container p-4">
                                    <form action="/admin/createCoupon" method="POST">
                                        <div class="mb-3">
                                            <label for="code" class="form-label">Coupon Code</label>
                                            <input type="text" id="code" name="code" class="form-control"
                                                pattern="[a-zA-Z0-9\-_@&$]*" required>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="offerType" class="form-label">Coupon Type</label>
                                                    <select type="text" id="offerType" name="offerType"
                                                        onchange="couponTypeLimit()" class="form-control">
                                                        <option value="flat">Flat Offer</option>
                                                        <option value="percent">Percentage Offer</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="offerVal" class="form-label">Amount /
                                                        Percentage</label>
                                                    <input type="text" id="offerVal" name="offerVal" min="0"
                                                        pattern="[0-9\.]*" onchange="couponTypeLimit()"
                                                        class="form-control" required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="minVal" class="form-label">Minimum Purchase
                                                        Value</label>
                                                    <input type="text" id="minVal" name="minVal" min="10"
                                                        pattern="[0-9\.]*" class="form-control" required>
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="maxDiscount" class="form-label">Max Discount
                                                        limit</label>
                                                    <input type="text" id="maxDiscount" name="maxDiscount" min="1"
                                                        max="50000" min="0" pattern="[0-9\.]*" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="count" class="form-label">Count</label>
                                                    <input type="number" id="count" name="count" class="form-control"
                                                        min="1" required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="mb-3">
                                                    <label for="expiry" class="form-label">Expiry Date</label>
                                                    <input type="date" id="expiry" name="expiry" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer mt-2">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Create</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
            </section>
        </div>
        <!-- ------------ -->
        </div>
        </section>
        </div>

        <!-- Coupon list -->
        <section class="container my-5">
            <h2>Coupon List</h2>
            <hr>
            <% if(locals.coupons){ if(locals.coupons.length){ let j=0 %>


                <table id="myTable" class="display text-center">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Coupon Code</th>
                            <th>Offer Type</th>
                            <th>Coupon Value</th>
                            <th>Min Cart Value</th>
                            <th>Max Discount</th>
                            <th>Count</th>
                            <th>Expiry</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for ( i=locals.coupons.length-1; i>=0;i-- ) { %>
                            <tr>
                                <td>
                                    <%= j+1 %>
                                </td>
                                <td class="Pre_code">
                                    <%= locals.coupons[i].code %>
                                </td>
                                <td class="Pre_offerType">
                                    <%= locals.coupons[i].offerType %>
                                </td>
                                <td class="Pre_offerVal">
                                    <%= locals.coupons[i].offerVal %>
                                </td>
                                <td class="Pre_minVal">
                                    <%= locals.coupons[i].minVal %>
                                </td>
                                <td class="Pre_maxDiscount">
                                    <%= locals.coupons[i].maxDiscount %>
                                </td>
                                <td class="Pre_count">
                                    <%= locals.coupons[i].count %>
                                </td>
                                <td class="Pre_expiry">
                                    <%= locals.coupons[i].expiry.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' })
                                        %>
                                </td>
                                <td>
                                    <a href="/admin/editCoupon?id=<%= locals.coupons[i]._id %>"><button type="button"
                                            class="btn btn-warning">
                                            <span class="material-symbols-outlined">
                                                edit
                                            </span>
                                        </button></a>
                                    <button type="button" onclick="deleteCoupon('<%= locals.coupons[i]._id %>')"
                                        class="btn btn-danger"><span class="material-symbols-outlined">
                                            delete
                                        </span></button>
                                </td>
                            </tr>
                            <% j++ } %>

                    </tbody>
                </table>

                <% } else { %>
                    <div class="container text-center">
                        <h6 class="alert">No coupons added </h6>
                    </div>
                    <% }} %>

        </section>

        <%- include('../layouts/footerlinks') %>

            <script>
                //On coupon select FLAT / Percentage
                function couponTypeLimit() {
                    const couponType = document.getElementById("offerType").value
                    const maxDiscountInput = document.getElementById("maxDiscount");
                    if (couponType === "flat") {
                        const offerValue = document.getElementById("offerVal").value
                        maxDiscountInput.value = offerValue
                        maxDiscountInput.readOnly = true;
                    } else {
                        maxDiscountInput.readOnly = false;
                        maxDiscountInput.value = ""
                        maxDiscountInput.required = true;
                    }
                }

                /* Initialization of datatable */
                $(document).ready(function () {
                    $('#myTable').DataTable();
                });

            </script>

            <%- include('../layouts/footer') %>