<%- include('../layouts/header') %>

  <%- include('../layouts/adminHeader') %>
<section class="container">
    <h3 class="text-center my-4">
      Order Management
    </h3>

    <% if (locals.orders.length){ %>

      <section class="container pb-4 my-4">
        <hr>
        <table  id="myTable" class="display text-center my-4">
          <thead>
            <tr class="text-center">
              <th scope="col">#</th>
              <th scope="col">Order Date</th>
              <th scope="col">Order ID</th>
              <th scope="col">No.of items</th>
              <th scope="col">Amount</th>
              <th scope="col">Payment mode</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody class="text-center">

            <% if (locals.orders.length> 0){
              for(i=0;i<orders.length;i++){ %>
                <tr>
                  <td scope="row">
                    <%= i+1 %>
                  </td>
                  <td scope="row">
                    <%=locals.orders[i].createdAt.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %>
                  </td>
                  <td>
                    <a href="/admin/orderDetails?orderID=<%= locals.orders[i]._id %>">
                      <span class="orderID"><%=locals.orders[i]._id%></span>
                    </a>

                  </td>
                  <td>
                    <%=locals.orders[i].items.length%>
                  </td>

                  <td class="text-end">
                    <%=locals.orders[i].amount%>
                  </td>

                  <td>
                    <%=locals.orders[i].method%>
                  </td>
                  <td>
                      <select name="orderStatus" class="orderStatus form-select" onchange="orderStatusChange('<%= i %>')">
                        <option disabled>Current status</option>
                        <option value="<%=locals.orders[i].status%>">
                          <%=locals.orders[i].status%>
                        </option>
                        <option disabled>Select to update</option>
                        <option value="Order placed">Order placed</option>
                        <option value="confirmed">confirmed</option>
                        <option value="In-transit">In-transit</option>
                        <option value="Delivered">Delivered</option>
                      </select>

                  </td>
                  <td>
                    <% if (locals.orders[i].status=='Order placed' || locals.orders[i].status=='confirmed' ||
                      locals.orders[i].status=='In-transit' ) { %>
                      <button onclick="adminCancelOrder('<%=locals.orders[i]._id%>')" class="btn btn-danger px-4">Cancel</button>
                      <% } %>

                      <% if (locals.orders[i].status=='Return requested') { %>
                      <button onclick="approveReturn('<%=locals.orders[i]._id%>')" class="btn btn-success">Approve</button>
                      <% } %>

                      <% if (locals.orders[i].status=='Return accepted') { %>
                        <button onclick="refundReturn('<%=locals.orders[i]._id%>')" class="btn btn-warning px-4">Refund</button>
                        <% } %>
                  </td>
                </tr>
                <% } } %>
          </tbody>
        </table>
      </section>

      
      <% } else { %>
          <div class="container text-start">
            <h6 class="alert alert-danger ">No order history available</h6>
          </div>
          <div class="text-center my-4">
            <a href="/allProducts"><button class="btn btn-outline-danger mb-3">
                Browse Products
              </button> </a>
          </div>
          <% } %>
          
</section>

          <script>
            /* Initialization of datatable */
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
          </script>

        <%- include('../layouts/footerlinks') %>
            <%- include('../layouts/footer') %>