<%- include('../layouts/header') %>

  <%- include('../layouts/adminHeader') %>

    <style>
      body {
        background-color: #fbdfdc;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>

    <!-- SEARCH BOX -->
    <div class="mt-5 text-center container">
      <div class="row">

        <div class="col-md-6 mb-4">
          <form action="/admin/productSearch" method="post" class="d-flex">
            <input class="form-control me-2 w-50 " name="search" type="search" placeholder="Search for Products"
              aria-label="Search">
            <button class="btn btn-danger" type="submit">Search</button>
          </form>
        </div>

        <div class="col-md-6">
          <a href="/admin/addProduct">
            <button class="btn btn-danger">ADD NEW PRODUCT</button>
          </a>
        </div>
      </div>
    </div>

    <!-- alert -->
    <% if(locals.alert){%>
      <div class="alert alert-warning text-center my-2">
        <%=locals.alert%>
      </div>
      <% } %>


        <!-- SEARCH DATA BOX -->
        <section class="container pb-4 mb-4">
          <hr>

          <% if (locals.searchData){ if (locals.searchData.length){ %>

            <h3>Search result</h3>
            <div class="text-end">

              <a class="" href="/admin/product_management/"><button
                  class="btn btn-danger py-0 mb-3 px-1 ">X</button></a>
            </div>

            <table class="table table-striped">
              <thead>
                <tr class="text-center">
                  <th scope="col">#</th>
                  <th scope="col">Display Pic</th>
                  <th scope="col">Product Details</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Last Updated</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody class="text-center">
                <% for(i=0;i<locals.searchData.length;i++){ %>
                  <tr>
                    <th scope="row">
                      <%= (i+1) %>
                    </th>
                    <td>
                      <div>
                        <img class="curv" style="width: 7em;" src="<%=locals.searchData[i].product_image[0] %>" alt="">
                      </div>
                    </td>
                    <td>
                      <%=locals.searchData[i].product_name%>
                    </td>
                    <td>
                      <%=locals.searchData[i].stock%>
                    </td>
                    <td>
                        <%=locals.searchData[i].updatedAt.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %>
                    </td>

                    <td>
                      <% if(locals.searchData[i].is_blocked){ %>
                        <p class="text-danger">Deleted</p>
                        <% } else { %>
                          <p class="text-success">Active</p>
                          <% } %>
                    </td>

                    <td>
                      <form action="/admin/editProductLoad" method="post">
                        <input type="text" name="product_id" value="<%=locals.searchData[i]._id%>" hidden required />
                        <button type="submit" class="btn btn-warning py-0 px-1">Edit </button>
                      </form>
                    </td>
                  </tr>
                  <% } } else {%>
                    <h5 class="text-start text-danger">No product details found</h5>
                    <%} } %>



              </tbody>
            </table>
            </div>

            <!-- Listing all products when no search data -->

            <% if (!locals.searchData){ %>


              <h3>PRODUCT LIST</h3>

              <table class="table table-striped">
                <thead>
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Display Pic</th>
                    <th scope="col">Product Details</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Last Updated</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody class="text-center">

                  <% if (products.length> 0){
                    for(i=0;i<products.length;i++){ %>
                      <tr>
                        <th scope="row">
                          <%= (i+1) %>
                        </th>
                        <td>
                          <div>
                            <% if (locals.products[i].product_image[0]){ %>
                              <img id="prd_img_0"  class="curv zoomable" style="width: 7em;" src=" <%=locals.products[i].product_image[0]%>"></img>
                              <% } else { %>
                                  <img class="curv zoomable" id="prd_img_0" style="width: 7em;"
                                      src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"></img>
                                  <% } %>
                          </div>
                        </td>
                        <td>
                          <%=locals.products[i].product_name%>
                        </td>
                        <td>
                          <%=locals.products[i].stock%>
                        </td>
                        <td>
                          <%=locals.products[i].updatedAt.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %>
                        </td>

                        <td>
                          <% if(locals.products[i].is_blocked){ %>
                            <p class="text-danger">Deleted</p>
                            <% } else { %>
                              <p class="text-success">Active</p>
                              <% } %>
                        </td>

                        <td>
                          <form action="/admin/editProductLoad" method="post">
                            <input type="text" name="product_id" value="<%=locals.products[i]._id%>" hidden required />
                            <button type="submit" class="btn btn-warning py-0 px-1">Edit </button>
                          </form>

                          </form>
                        </td>
                      </tr>
                      <% } } %>

                </tbody>
              </table>

              <%} %>

        </section>

        <%- include('../layouts/footerlinks') %>

          <%- include('../layouts/footer') %>