<%- include('../layouts/header') %>

    <%- include('../layouts/userHeader') %>

        <div class="container-fluid my-5">
            <div class=" ">
                <h2>
                    All Products
                </h2>
            </div>

            <div class="row">
                <div class="rounded bg-light" style=" position: sticky; top: 0em; z-index: 3;">
                    <!-- ================= -->
                    <div class="row ms-4">

                        <div class="col-sm-3 my-3">
                            <select name="category_id" class="form-select" id="catSelection"
                                onchange="SubCategoryLoad(value)">
                                <!-- array of categories ids -->
                                <% if (locals.queryData) { %>
                                    <option value="<%= locals.queryData.cat %>">
                                        <%= locals.queryData.categoryName %>
                                    </option>
                                    <% } %>
                                        <option value="All">All Categories</option>
                                        <% if (locals.categories){ categories.forEach((name)=>{ %>

                                            <option value="<%=name._id%>">
                                                <%=name.category_name%>
                                            </option>

                                            <% }) } %>

                            </select>
                        </div>

                        <div class="col-sm-3 my-3">
                            <!-- <label for="subCategory" class="form-label">Sub Category</label> -->
                            <select name="subCategory_id" class="form-select" id="subCat">
                                <!-- array of sub categories ids -->
                                <% if (locals.queryData) { %>
                                    <option value="<%= locals.queryData.subCat %>">
                                        <%= locals.queryData.subCatName %>
                                    </option>
                                    <% } %>
                                        <option disabled>Available Sub Categories</option>
                            </select>
                        </div>

                        <div class="col-sm-2 my-3">
                            <select name="sort" class="form-select" id="sortBy" aria-valuetext="hi">
                                <% if (locals.queryData) { %>
                                    <option value="<%= locals.queryData.sort %>">
                                        <%= locals.queryData.sort %>
                                    </option>
                                    <% } %>
                                        <option disabled>Select</option>
                                        <option value="Newest First">Newest First</option>
                                        <option value="Oldest First">Oldest First</option>
                                        <option value="Price (Low-to-High)">Price (Low-to-High)</option>
                                        <option value="Price (High-to-Low)">Price (High-to-Low)</option>
                            </select>
                        </div>

                        <div class="col-sm-2 my-3">
                            <!-- <a href=""> -->
                            <button type="submit" class="btn btn-outline-danger" onclick="productFilter()">Apply
                                filters</button>
                            <!-- </a> -->
                        </div>
                        <div class="col-sm-1 my-3">
                            <a href="/allProducts">Reset filters</a>
                        </div>

                    </div>
                    <!-- ====== -->
                </div>

                <div class="container">
                    <div class="col-sm-2 my-3">
                        <label for="perPage" class="form-label">Product per page</label>
                        <select name="perPage" class="form-select w-50" id="perPage">
                            <% if (locals.queryData) { %>
                                <option value="<%= locals.queryData.perPage %>">
                                    <%= locals.queryData.perPage %>
                                </option>
                                <% } %>
                                    <option value="12" disabled>Select</option>
                                    <option value="12">12</option>
                                    <option value="24">24</option>
                                    <option value="36">36</option>
                        </select>
                    </div>

                </div>

                <section class="row">
                    <% if (locals.products){ products.forEach((item)=>{ %>
                        <div class="col-md-4 col-lg-3 my-3">
                            <div class="h-100 p-4 m-2" style="background-color: #edf1ff; border-radius: 1.5em;">

                                <div class="w-100">
                                    <% if (item.product_image[0]){ %>
                                        <a href="/productDetail?product_id=<%=item._id%>">
                                            <img class="w-100 curv" src="<%= item.product_image[0]%>"
                                                alt="Product Image">
                                        </a>
                                        <% } else { %>
                                            <a href="/productDetail?product_id=<%=item._id%>">
                                                <img class="w-100 curv"
                                                    src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"
                                                    alt="Product Image"></img>
                                            </a>
                                            <% } %>

                                </div>
                                <hr>
                                <div class="detail-box">
                                    <div>
                                        <p class="text-non-wrap">
                                            <%=item.product_name%>
                                        </p>
                                    </div>
                                    <h5>
                                        Offer Price :
                                        <span>
                                            ₹ <%=item.sellingPrice%> /-
                                        </span>
                                    </h5>

                                    <h6>

                                        <span class="text-decoration-line-through">
                                            Price : ₹ <%=item.mrp%> /-
                                        </span>
                                    </h6>
                                </div>

                                <div class="text-center my-3">
                                    <a href="/productDetail?product_id=<%=item._id%>"><button
                                            class="btn btn-outline-danger w-50">View Details</button></a>

                                </div>

                            </div>
                        </div>
                        <% }) } %>

                </section>
            </div>
        </div>

        </div>
        <!-- end shop section -->

        <!-- pagination -->
        <section class="container my-5">
            <nav aria-label="page">
                <ul class="pagination justify-content-center">


                    <%
                    let end = 6; 
                    if (locals.totalPage <= 6){
                        end  = locals.totalPage;
                    }
                    
                    if (!locals.queryData || locals.queryData.page <=3 ) { 
                        for (i=0; i<end ; i++){ %>
                       
                        <!-- no query data present -->
                            <% if(i==0 ) { %>
                                <li class="page-item">
                                    <button type="button" class="page-link" onclick="productFilter('<%= +locals.queryData.page-1 %>')">Previous</button>
                                </li>
                                <% } %>
    
                                    <li class="page-item"><button type="button" class="page-link"
                                            onclick="productFilter('<%= i+1 %>')">
                                            <%= i+1 %>
                                        </button></li>

                                    <% if(i==locals.totalPage-1) { %>
                                        <li class="page-item">
                                            <button type="button" class="page-link" id="nextPage"
                                                onclick="productFilter('2')">Next</button>
                                        </li>
                                        <% } %>
                            <% } } else { %>

                                <!-- if QueryData present & page > 3  -->
                                <% for (i=+locals.queryData.page-2; i<+locals.queryData.page+3 ; i++){ %>
                                    <% if(i== +locals.queryData.page-2 ) { %>
                                        <li class="page-item">
                                            <button type="button" class="page-link" id="prevPage"
                                                onclick="productFilter('<%= +locals.queryData.page-1 %>')">Previous</button>
                                        </li>
                                        <% } %>
            
                                            <li class="page-item"><button type="button" class="page-link"
                                                    onclick="productFilter('<%= i %>')">
                                                    <%= i %>
                                                </button></li>
            
                                            <% if(i== +locals.queryData.page+2 ) { %>
                                                <li class="page-item">
                                                    <button type="button" class="page-link" id="nextPage"
                                                        onclick="productFilter('<%= +locals.queryData.page+1 %>')">Next</button>
                                                </li>
                                                <% } %>
                                                    <% } %>

                            <% } %>
                </ul>
                    <input type="text"  value="<%= locals.totalPage %>" id="totalPage" hidden />
            </nav>
        </section>



        <%- include('../layouts/footerlinks') %>


            <%- include('../layouts/footer') %>