<%- include('../layouts/header') %>

    <%- include('../layouts/userHeader') %>

        <h3 class="text-center my-4">
            Checkout
        </h3>
        <section class="container mb-5">
            <hr>

            <div class="row ">

                <!-- Cart Preview -->
                <div class="col-md-9">

                    <% if (locals.products.length){ %>

                        <section class="container pb-4 my-4">
                            <h5>Cart Summary</h5>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col">#</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Rate</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col"> </th>
                                        <!-- <th scope="col">Actions</th> -->
                                    </tr>
                                </thead>
                                <tbody class="text-center">

                                    <% if (locals.products.length> 0){
                                        for(i=0;i<products.length;i++){ %>
                                            <tr>
                                                <th scope="row">
                                                    <%= (i+1) %>
                                                </th>
                                                <td class="text-start">
                                                    <%=locals.products[i].product_name%>
                                                </td>
                                                <td>
                                                    <%=locals.products[i].sellingPrice%>
                                                </td>
                                                <td>
                                                    <%=locals.cart.items[i].qty%>
                                                </td>
                                                <td>
                                                    <%=locals.cart.items[i].qty * locals.products[i].sellingPrice %>
                                                </td>
                                                <td>
                                                    <h1 class="text-light">|||</h1>
                                                    <!-- <form action="/removeCart" method="post">
                        <input type="text" name="product_id" value="<%=locals.products[i]._id%>" hidden required />
                        <button type="submit" class="btn btn-warning py-0 px-1">Remove</button>
                      </form> -->
                                                </td>
                                            </tr>
                                            <% } } %>
                                                <tr>
                                                    <th scope="col" colspan="4" class="text-end">
                                                        <h5>Sub-Total</h5>
                                                    </th>
                                                    <th scope="col" colspan="2" class="text-start">
                                                        <h5>
                                                            <% var sum=0; for (let i=0; i < locals.cart.items.length;
                                                                i++) { %>
                                                                <% sum=sum + locals.cart.items[i].qty *
                                                                    locals.products[i].sellingPrice %>
                                                                    <% } %>
                                                                        ₹ <%= sum %> /-
                                                        </h5>
                                                    </th>
                                                </tr>

                                </tbody>
                            </table>


                            <!-- Address Management Section -->
                            <h5 class="my-4">Delivery Information</h5>

                            <div class="row">
                                <div class="col-md-6">
                                        <form action="/checkout" method="post">

                                        <div class="mb-3">
                                            <label for="addressName" class="form-label">Name</label>
                                            <input type="text" placeholder="Enter name for delivery"
                                                pattern="[A-Za-z ]*"
                                                oninvalid="setCustomValidity('Please enter alphabetic characters only')"
                                                oninput="setCustomValidity('')" name="addressName" class="form-control"
                                                id="addressName" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Phone number</label>
                                            <input type="number" name="phone" class="form-control" id="phone"
                                                oninvalid="setCustomValidity('Please enter a valid mobile number')"
                                                placeholder="Enter contact number" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="text" class="form-label">Address Line 1 </label>
                                            <input type="text" placeholder="House No/Name" name="address1"
                                                class="form-control" id="address1" required>
                                        </div>

                                        <div class="mb-3">
                                            <label for="text" class="form-label">Address Line 2 </label>
                                            <input type="text" placeholder="Street Address" name="address2"
                                                class="form-control" id="address2" required>
                                        </div>

                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="district" class="form-label">District</label>
                                                <input type="text" name="district" class="form-control"
                                                    placeholder="Enter district" required>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="state" class="form-label">State</label>
                                                <input type="text" name="state" class="form-control"
                                                    placeholder="Enter state" required>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="mb-3 col-md-6">
                                                <label for="country" class="form-label">Country</label>
                                                <input type="text" name="country" class="form-control" value="India"
                                                    readonly>
                                            </div>
                                            <div class="mb-3 col-md-6">
                                                <label for="pincode" class="form-label">Pincode</label>
                                                <input type="number" name="pincode" class="form-control" id="pincode"
                                                    min=100000 max=999999
                                                    oninvalid="setCustomValidity('Please enter a valid Pincode')"
                                                    placeholder="Enter pincode" required>
                                            </div>
                                            <div class="form-check ms-3">
                                                <label for="saveAddress" class="form-label">Save address for future
                                                    payments</label>
                                                <input class="form-check-input" type="checkbox" name="saveAddress"
                                                     />
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 px-4 bg-info">
                                        <h4 class="text-center">Saved addresses</h4>

                                    </div>

                            </div>



                        </section>

                        <% } else { %>
                            <div class="container text-start">
                                <h6 class="alert alert-danger ">No products added to cart</h6>
                            </div>
                            <div class="text-center my-4">
                                <a href="/allProducts"><button class="btn btn-outline-danger mb-3">
                                        Browse Products
                                    </button> </a>
                            </div>
                            <% } %>


                </div>

                <!-- Summary Section -->
                <% if (locals.products.length){ %>
                    <div class="col-md-3 py-3 text-center curv" style="background-color: rgb(242,242,242);">

                        <h5>Bill Summary</h5>
                        <hr class="mx-3">
                        <div class="px-1 mb-4">


                            <!-- Summary Table -->
                            <div class="bg-white mt-4 py-3 curv">
                                <table class="table mb-0">
                                    <tbody>
                                        <tr>
                                            <th scope="row">Sub-Total</th>
                                            <td>
                                                ₹ <%= sum %> /-
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Discount</th>
                                            <td>
                                                ₹ 0 /-
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <h4 class="fw-bold">Total</h4>
                                            </th>
                                            <td>
                                                <h4 class="fw-bold">
                                                    ₹ <%= sum %> /-
                                                    <input type="number" name="amount" value="<%= sum %>" hidden>
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- table ends here -->
                        </div>

                        <br>
                        <h5>Payment Options</h5>
                        <hr class="mx-3">

                        <div class="form-check mx-5">
                            <label for="delivery" class="form-label">Cash-On-Delivery</label>
                            <input class="form-check-input" type="checkbox" name="deliveryType" required />
                        </div>

                        <div class="text-center">
                            <button class="btn btn-danger mt-4 py-2  px-4 mb-3">
                                PROCEED TO BUY
                            </button>
                        </div>
                        </form>
                    </div>
                    <% } %>



            </div>


        </section>


        <%- include('../layouts/footerlinks') %>
            <%- include('../layouts/footer') %>