<%- include('../layouts/header') %>

    <%- include('../layouts/userHeader') %>


        <div class="container">
            <h5 class="pt-1  my-2"><i>Welcome <%=locals.username? locals.username :'User' %></i></h5>
        </div>
        <!-- =======banner======== -->
        <% if(locals.banners){ if(locals.banners.banners.length){%> 

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                
               
                    <% for ( i=1; i<locals.banners.banners.length;i++ ) { %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%=i %>"
                    aria-label="Slide <%=i+1 %>"></button>
                    <% } %>
            </div>
          
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="<%= locals.banners.banners[0] %>" class="d-block w-100" alt="Banner-0">
                    </div>
                
                <% for ( i=1; i<locals.banners.banners.length;i++ ) { %>
                    <div class="carousel-item">
                        <img src="<%= locals.banners.banners[i] %>"
                            class="d-block w-100" alt="Banner-<%= i %>">
                    </div>
                <% } %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
   <% } } %>
        <!-- ============================= -->
        <div class="container">
            <div class="text-center my-5">
                <h2>Explore the collection</h2>
                <a href="/allProducts"><button class="btn btn-danger">
                        View All Products
                    </button> </a>

            </div>

            <div class="container-fluid row my-5">
                <div class="col-6 col-md-3 p-4 text-center">
                    <div class="p-4 card curv">
                        <h1 class="material-symbols-outlined">
                            new_releases
                        </h1>
                        Quality Product
                    </div>
                </div>
                <div class="col-6 col-md-3 p-4 text-center">
                    <div class="p-4 card curv">
                        <h1 class="material-symbols-outlined">
                            local_shipping
                        </h1>
                        Free Shipping
                    </div>
                </div>
                <div class="col-6 col-md-3 p-4 text-center">
                    <div class="p-4 card curv">
                        <h1 class="material-symbols-outlined">
                            compare_arrows
                        </h1>
                        14 day return
                    </div>
                </div>
                <div class="col-6 col-md-3 p-4 text-center">
                    <div class="p-4 card curv">
                        <h1 class="material-symbols-outlined">
                            perm_phone_msg
                        </h1>
                        24/7 support
                    </div>
                </div>


            </div>



        </div>

        <!-- shop_section -->
        <br>

        <section class="">
            <div class="container">
                <div class=" ">
                    <h2>
                        Latest Products
                    </h2>
                </div>

                <div class="row">
                    <% if (locals.products){ products.forEach((item)=>{ %>
                        <div class="col-md-6 col-lg-4 my-3">
                            <div class="h-100 p-4 m-2" style="background-color: #edf1ff; border-radius: 1.5em;">

                                <div class="w-100">
                                    <% if (item.product_image[0]){ %>
                                        <a href="/productDetail?product_id=<%=item._id%>">
                                            <img class="w-100 curv" src="<%= item.product_image[0]%>"
                                                alt="Product Image">
                                        </a>
                                        <% } else { %>
                                            <a href="/productDetail?product_id=<%=item._id%>">
                                                <img class="w-100 curv"
                                                    src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"
                                                    alt="Product Image"></img>
                                            </a>
                                            <% } %>

                                </div>
                                <hr>
                                <div class="detail-box">
                                    <div>
                                        <p class="text-non-wrap">
                                            <%=item.product_name%>
                                        </p>
                                    </div>
                                    <h5>
                                        Offer Price :
                                        <span>
                                            ₹ <%=item.sellingPrice%> /-
                                        </span>
                                    </h5>

                                    <h6>

                                        <span class="text-decoration-line-through">
                                            Price : ₹ <%=item.mrp%> /-
                                        </span>
                                    </h6>
                                </div>

                                <div class="text-center my-3">
                                    <a href="/productDetail?product_id=<%=item._id%>"><button
                                            class="btn btn-outline-danger w-50">View Details</button></a>

                                </div>

                            </div>
                        </div>
                        <% }) } %>
                </div>

                <div class="text-center my-4">
                    <a href="/allProducts"><button class="btn btn-outline-danger mb-3">
                            View All Products
                        </button> </a>
                </div>
            </div>
        </section>

        <!-- end shop section -->
        <%- include('../layouts/footerlinks') %>


            <%- include('../layouts/footer') %>