<%- include('../layouts/header') %>

  <%- include('../layouts/userHeader') %>

    <h3 class="text-center my-4">
      <%=username%>'s Order History
    </h3>

    <% if (locals.orders.length){ %>

      <section class="container pb-4 my-4">
        <hr>
        <div class="card-deck">
          <% if (locals.orders.length> 0) {
            for (i = 0; i < orders.length; i++) { %>
              <div class="card mb-4">
                <div class="card-header text-start">
                  Order ID: <%= locals.orders[i]._id %>
                    <p class="text-end">Order Date : <%= locals.orders[i].createdAt.getDate() %> - <%=
                          locals.orders[i].createdAt.getMonth() %> - <%= locals.orders[i].createdAt.getFullYear() %>
                            (<%= locals.orders[i].createdAt.getHours() %> : <%= locals.orders[i].createdAt.getMinutes()
                                %> : <%= locals.orders[i].createdAt.getSeconds() %> Hrs)</p>
                </div>
                <div class="card-body">

                  <p class="card-text">No. of items: <%= locals.orders[i].items.length %>
                  </p>
                  <p class="card-text">Amount: <%= locals.orders[i].amount %>
                  </p>
                  <p class="card-text">Payment Method: <%= locals.orders[i].method %>
                  </p>
                  <p class="card-text">Status: <%= locals.orders[i].status %>
                  </p>

                  <a href="/orderDetails?orderID=<%= locals.orders[i]._id %>">
                    <button type="submit" class="btn btn-outline-danger">Order Details</button>
                  </a>
                </div>
              </div>
              <% } } %>
        </div>
      </section>


      <%- include('../layouts/footerlinks') %>

        <% } else { %>
          <div class="container text-start">
            <h6 class="alert alert-danger ">No order history available</h6>
          </div>
          <div class="text-center my-4">
            <a href="/allProducts"><button class="btn btn-outline-danger mb-3">
                Browse Products
              </button> </a>
          </div>
          <% } %>

            <%- include('../layouts/footer') %>