<%- include('../layouts/header') %>

  <%- include('../layouts/userHeader') %>

  <style>
    body {
      background-color: #fbdfdc;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  </style>

    <div class="container my-5 p-4 bg-light curv">
      <div class="row p-4">
          <div class="col-md-12">
              <h2 class="text-center">Order Details</h2>
              <hr class="mb-4">
              <div class="row">
                  <div class="col-md-6">
                      <h4>Order Information</h4>
                      <p><strong>Order ID:</strong> <%= locals.orders._id %></p>
                      <p><strong>Date:</strong> <%=locals.orders.createdAt.toLocaleString('en-US', { timeZone: 'Asia/Kolkata' }) %></p>
                      <p><strong>Status:</strong> <%= locals.orders.status %></p>
                  </div>
                  <div class="col-md-6">
                      <h4>Shipping Information</h4>
                      <p><strong>Name:</strong> <%= locals.address.addressName %></p>
                      <p><strong>Address:</strong> <%= locals.address.address1 %>, <%= locals.address.address2 %>, <%= locals.address.district %>, <%= locals.address.state %>-<%= locals.address.pincode %> </p>
                      <p><strong>Phone:</strong> <%= locals.address.phone %></p>
                  </div>
              </div>
              <hr>
              <h4>Order Items</h4>
              <table class="table">
                  <thead>
                      <tr>
                        <th>#</th>
                          <th colspan="2" class="text-center">Product</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Total</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% for (i=0;i<orders.items.length;i++) {%>
                      <tr>
                        <td><%= i+1 %></td>
                        <td><a href="/productDetail?product_id=<%=locals.productData[i]._id%>"> 
                          <img src="<%= locals.productData[i].product_image[0] %>" style="width: 3em;" alt="product_image"></a></td>
                          <td><%= locals.productData[i].product_name %></td>
                          <td><%= locals.orders.items[i].rate %></td>
                          <td class="text-center"><%= locals.orders.items[i].qty %></td>
                          <td class="text-end">₹<%= locals.orders.items[i].qty*locals.orders.items[i].rate %>.00</td>
                      </tr>
                      <% } %>
                      <tr>
                        <td colspan="5" class="text-end"><strong>SubTotal:</strong></td>
                        <td><strong>₹ <%= locals.orders.amount-locals.orders.discount %></strong></td>
                    </tr>
                      <tr>
                        <td colspan="5" class="text-end"><strong>Discount:</strong></td>
                        <td><strong>₹ <%= locals.orders.discount %></strong></td>
                    </tr>
                      <tr>
                          <td colspan="5" class="text-end"><strong>Total:</strong></td>
                          <td><strong>₹ <%= locals.orders.amount %>/-</strong></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <a href="/orderHistory"><button class="btn btn-outline-danger my-4">Back to Order History</button></a>
          
      </div>
  </div>

  <%- include('../layouts/footerlinks') %>
            <%- include('../layouts/footer') %>