<%- include('../layouts/header') %>

    <%- include('../layouts/userHeader') %>

        <section class="container m-4">
            <div class="row">
                <div class="col-md-6">

                    <div class="col-12 mt-2 p-4">
                        <% if (locals.product[0].product_image[0]){ %>
                            <img id="prd_img" class="w-100 curv" src=" <%=locals.product[0].product_image[0]%>"></img>
                            <% } else { %>
                                <img class="w-100 curv"
                                    src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"></img>
                                <% } %>
                    </div>

                    <div class="row p-4">
                        <% for (i=1; i<locals.product[0].product_image.length;i++){ %>

                            <div class="col-3 px-3">
                                <img class="product_img w-100 curv"
                                    src=" <%=locals.product[0].product_image[i]%>"></img>
                            </div>

                            <% } %>
                    </div>

                </div>
                <div class="col-md-6 p-4">
                    <h2>
                        <%=locals.product[0].product_name%>
                    </h2>
                    <hr>
                    Description :
                    <%=locals.product[0].description%>
                        <p>Brand : <%=locals.product[0].brand%>
                        </p>
                        <hr>
                        <h3>
                            <span class="fw-bold text-dark">
                                Offer Price : <%=locals.product[0].sellingPrice%>
                            </span>
                        </h3>
                        <h5 class="text-success fw-bold">
                            Discount : <%=locals.product[0].discount%>%
                        </h5>
                        <h5>
                            <span class="text-decoration-line-through">
                                MRP : <%=locals.product[0].mrp%>
                            </span>
                        </h5>
                        <hr>

                        <div>
                            <div class="mb-3">
                                <label for="qty" class="form-label">Quantity</label>
                                <input type="number" name="qty" class="form-control w-25" id="qty" value=1 min="0"
                                    onchange="qtyUpdate()" required>
                            </div>
                        </div>


                        <div class="text-center my-4 d-flex ">


                            <button class="btn btn-outline-danger me-4  px-4 mb-3">
                                <span class="material-symbols-outlined">
                                    favorite
                                </span>
                            </button>



                            <button type="submit" class="btn btn-outline-danger me-4  px-4 mb-3">
                                <span class="material-symbols-outlined">
                                    add_shopping_cart
                                </span>
                            </button>


                            <form action="/checkout" method="post">
                                <input type="text" name="product_id" value="<%=locals.product[0]._id%>" />
                                <input type="number" name="qty" id="qtyCheckout" value=1 required>
                                <button class="btn btn-danger me-4 py-2  px-4 mb-3">
                                    BUY NOW
                                </button>
                            </form>
                        </div>
                </div>

            </div>

        </section>

        <!-- =================Latest Products======================= -->

        <section class="">
            <div class="container">
                <div class=" ">
                    <h2>
                        Latest Products
                    </h2>
                </div>

                <div class="row mb-4">
                    <% if (locals.products){ products.forEach((item)=>{ %>
                        <div class="col-md-6 col-lg-3 my-3">
                            <div class="h-100 p-4 m-2" style="background-color: #edf1ff; border-radius: 1.5em;">

                                <div class="w-100">

                                    <% if (item.product_image[0]){ %>
                                        <a href="/productDetail?product_id=<%=item._id%>"><img class="w-100 curv"
                                                src="<%= item.product_image[0]%>" alt="Product Image"></a>
                                        <% } else { %>
                                            <a href="/productDetail?product_id=<%=item._id%>"> <img class="w-100 curv"
                                                    src="https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg"></img></a>
                                            <% } %>

                                </div>
                                <hr>
                                <div class="detail-box">
                                    <div>
                                        <p class="text-non-wrap">
                                            <%=item.product_name%>
                                        </p>
                                    </div>
                                    <h5>
                                        Offer Price :
                                        <span>
                                            ₹ <%=item.sellingPrice%> /-
                                        </span>
                                    </h5>

                                    <h6>

                                        <span class="text-decoration-line-through">
                                            Price : ₹ <%=item.mrp%> /-
                                        </span>
                                    </h6>
                                </div>

                                <div class="text-center my-3">
                                    <a href="/productDetail?product_id=<%=item._id%>"><button
                                            class="btn btn-outline-danger w-50">Details</button></a>

                                </div>

                            </div>
                        </div>
                        <% }) } %>
                </div>
            </div>
        </section>

        <%- include('../layouts/footerlinks') %>
            <%- include('../layouts/footer') %>